<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resumen de ronda</title>

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="src/assets/icon-192x192.png">

</head>
<div class="table-container">
<div class="table">
<div class="container summary-container">
    <h2 class="header">{{ 'ROUND_SUMMARY_TITLE' | translate }} {{ currentRound }}</h2>
    <table class="score-table">
      <thead>
        <tr>
          <th>{{ 'PLAYER' | translate }}</th>
          <th>{{ 'POINTS' | translate }}</th>
          <th>{{ 'TOTAL_POINTS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{ player.playerName }}</td>
          <td>{{ getPointsForRound(player, currentRound) }}</td>
          <td>{{ player.totalPoints }}</td>
        </tr>
      </tbody>
    </table>
    <h3 class="header">Detalle de figuras jugadas y puntos por figura (Ronda {{ currentRound }})</h3>
    <table class="score-table">
      <thead>
        <tr>
          <th>Jugador</th>
          <th>Maki</th>
          <th>Tempura</th>
          <th>Nigiri 🦑</th>
          <th>Nigiri 🐟</th>
          <th>Nigiri 🥚</th>
          <th>Wasabi</th>
          <th>Sashimi</th>
          <th>Gyoza</th>
          <th>Pudding</th>
        </tr>
        <tr>
          <th></th>
          <th>Puntos</th>
          <th>Puntos</th>
          <th>Puntos</th>
          <th>Puntos</th>
          <th>Puntos</th>
          <th>-</th>
          <th>Puntos</th>
          <th>Puntos</th>
          <th>Puntos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{ player.playerName }}</td>
          <td>{{ player.makiCount[currentRound-1] }}<br><span style="font-size:12px;">({{ player.makipoints[currentRound-1] || 0 }} pts)</span></td>
          <td>{{ player.tempuraCount[currentRound-1] }}<br><span style="font-size:12px;">({{ player.tempurapoints[currentRound-1] || 0 }} pts)</span></td>
          <td>{{ player.nigiriSquidCount[currentRound-1] }}<br><span style="font-size:12px;">({{ player.nigirisquidpoints[currentRound-1] || 0 }} pts)</span></td>
          <td>{{ player.nigiriSalmonCount[currentRound-1] }}<br><span style="font-size:12px;">({{ player.nigiriSalmonpoints[currentRound-1] || 0 }} pts)</span></td>
          <td>{{ player.nigiriEggCount[currentRound-1] }}<br><span style="font-size:12px;">({{ player.nigiriEggpoints[currentRound-1] || 0 }} pts)</span></td>
          <td>{{ player.wasabiCount[currentRound-1] }}</td>
          <td>{{ player.sashimiCount[currentRound-1] }}<br><span style="font-size:12px;">({{ player.sashimipoints[currentRound-1] || 0 }} pts)</span></td>
          <td>{{ player.gyozaCount[currentRound-1] }}<br><span style="font-size:12px;">({{ player.gyozaPoints[currentRound-1] || 0 }} pts)</span></td>
          <td>{{ player.puddingCount[currentRound-1] }}<br><span style="font-size:12px;">({{ player.puddingPoints[currentRound-1] || 0 }} pts)</span></td>
        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <button class="next-round-btn" (click)="goToNextRound()">{{ 'NEXT_ROUND_BUTTON' | translate }}</button>
      <button (click)="goBack()">{{ 'BACK_BUTTON' | translate }}</button>
    </div>
  </div>
</div>
</div>
<footer class="footer">
  <div class="footer-content">
    <p>&copy;{{ 'COPYRIGHT' | translate }}</p>
  </div>
</footer>
</html>
  
