<div class="table-container">
<div class="table">
<div class="container summary-container">
    <h2>{{ 'ROUND_SUMMARY_TITLE' | translate }} {{ currentRound }}</h2>
    <table class="score-table">
      <thead>
        <tr>
          <th>{{ 'PLAYER' | translate }}</th>
          <th>{{ 'POINTS' | translate }}</th>
          <th>{{ 'TOTAL_POINTS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{ player.playerName }}</td>
          <td>{{ getPointsForRound(player, currentRound) }}</td>
          <td>{{ player.totalPoints }}</td>
        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <button class="next-round-btn" (click)="goToNextRound()">{{ 'NEXT_ROUND_BUTTON' | translate }}</button>
      <button (click)="goBack()">{{ 'BACK_BUTTON' | translate }}</button>
    </div>
  </div>
</div>
</div>
<footer class="footer">
  <div class="footer-content">
    <p>&copy;{{ 'COPYRIGHT' | translate }}</p>
  </div>
</footer>

  
