<div class="cuerpo">
<div class="roundheader">
  <div class="blank">{{ 'ROUND' | translate }} {{ currentRound }}</div>
</div>
<div class="container2">
<div class="container">
  <div class="score-table">
 
    <div class="row header">
      <div class="cell"></div>
      <div *ngFor="let player of players" class="cell player-name">{{ player.playerName }}</div>
    </div>
    <div class="row">
      <div class="cell">Maki</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.makiCount"></div>
    </div>
    <div class="row">
      <div class="cell">Tempura</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.tempuraCount"></div>
    </div>
    <div class="row">
      <div class="cell">Nigiri 🦑</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.nigiriSquidCount"></div>
    </div>
    <div class="row">
      <div class="cell">Nigiri 🐟</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.nigiriSalmonCount"></div>
    </div>
    <div class="row">
      <div class="cell">Nigiri 🥚</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.nigiriEggCount"></div>
    </div>
    <div class="row">
      <div class="cell">Wasabi</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.wasabiCount"></div>
    </div>
    <div class="row">
      <div class="cell">Sashimi</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.sashimiCount"></div>
    </div>
    <div class="row">
      <div class="cell">Gyoza</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.gyozaCount"></div>
    </div>
    <div class="row">
      <div class="cell">Pudding</div>
      <div *ngFor="let player of players" class="cell"><input type="number" class="inputs" [(ngModel)]="player.totalPuddings"></div>
    </div>
  </div>

  <div class="buttons">
    <button *ngIf="currentRound < 3" (click)="showRoundSummary()">{{ 'NEXT_ROUND' | translate }}</button>
    <button *ngIf="currentRound === 3" (click)="finishGame()">{{ 'FINISH_GAME' | translate }}</button>
  </div>

  <div class="warning">
    <div class="warning-icon">
      <img src="assets/icono_warning.png" alt="Warning Icon">
    </div>
    <div class="warning-text">
      <p>{{ 'WARNING_MESSAGE' | translate }}</p>
    </div>
  </div>
</div>
</div>

<footer class="footer">
  <div class="footer-content">
    <p>&copy;{{ 'COPYRIGHT' | translate }};
    </p>
  </div>
</footer>



</div>

