.instrucciones {
    font-family: Arial, sans-serif;
    margin: 30px;
  }


.content-section {
    max-width: 600px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(0%);
}

.content-section.active {
    opacity: 1;
    transform: translateX(0);
}

#strategies.active {
    transform: translateX(100%);
}
  .header {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.tab-button {
  background-color: bisque;
  font-family: 'Luckiest Guy';
  border: 3px solid black;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.tab-button:hover {
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.tab-button:active {
  transform: scale(1.02);
}

  .button-back{
    position: absolute;
    display: flex;
    left: 0;
    background-color: bisque;
      font-family: 'Luckiest Guy' ;
      border: 3px solid black; /* Borde negro de 2px */
      border-radius: 10px;
      margin: 0px 5px 125px 10px;
      z-index: 999999;
      box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);

  }
  .landing-container-in {
    padding: 10px;
    background-color: bisque;
      text-align: center;
      font-family: 'Luckiest Guy' ;
      border: 3px solid black; /* Borde negro de 2px */
      border-radius: 10px;
      margin: 0px 5px 20px 0px;
      box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }

    .landing-container-out{
      display: flex;
      text-align: center;
      font-family: Luckiest Guy;
      padding: 10px 0 50px 0px;
      flex-direction: column;
      align-items: center;
        }

        .landing-container-in:hover {
          box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3); /* Añade una sombra más pronunciada */
          transform: scale(1.015); /* Aumenta ligeramente el tamaño del contenedor */
          transition: all 0.3s ease; /* Añade una transición suave */
          }

          .landing-container-in:active {
            box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3); /* Añade una sombra más pronunciada */
            transform: scale(1.015); /* Aumenta ligeramente el tamaño del contenedor */
            transition: all 0.3s ease; /* Añade una transición suave */
            }
  

  
  h1, h2 {
    color: #333;
  }
  
  p, ol, ul {
    color: #555;
  }
  
  ol, ul {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  