<div class="instrucciones">
    <div class="landing-container-out">
    <h1>¿Como jugar?</h1>
    <div class="landing-container-in">
    <h2>Objetivo del juego</h2>
    <p>
      En Sushi Go!, tu objetivo es ganar la mayor cantidad de puntos posible seleccionando las mejores combinaciones de platos de sushi.
    </p>
    </div>  
    <div class="landing-container-in">
    <h2>Preparación</h2>
    <ol>
      <li>Baraja el mazo de cartas de Sushi Go!</li>
      <li>Reparte un número de cartas a cada jugador según el número de jugadores:
        <ul>
          <li>2 jugadores: 10 cartas cada uno</li>
          <li>3 jugadores: 9 cartas cada uno</li>
          <li>4 jugadores: 8 cartas cada uno</li>
          <li>5 jugadores: 7 cartas cada uno</li>
        </ul>
      </li>
      <li>Coloca las cartas restantes a un lado para futuras rondas.</li>
    </ol>
</div>
<div class="landing-container-in">
    <h2>Cómo jugar</h2>
    <ol>
      <li>Cada jugador elige una carta de su mano y la coloca boca abajo frente a ellos.</li>
      <li>Cuando todos los jugadores han elegido su carta, las revelan simultáneamente.</li>
      <li>Luego, pasa el resto de sus cartas a la izquierda.</li>
      <li>Repite estos pasos hasta que todas las cartas hayan sido jugadas.</li>
    </ol>
</div>
<div class="landing-container-in">
    <h2>Puntuación</h2>
    <p>
      Después de que todas las cartas han sido jugadas, se cuentan los puntos según las combinaciones de cartas que cada jugador haya coleccionado. Las reglas de puntuación son las siguientes:
    </p>
    <ul>
      <li><strong>Maki Rolls:</strong> El jugador con más símbolos de Maki Rolls gana 6 puntos, el segundo lugar gana 3 puntos.</li>
      <li><strong>Tempura:</strong> Dos Tempuras valen 5 puntos.</li>
      <li><strong>Sashimi:</strong> Tres Sashimis valen 10 puntos.</li>
      <li><strong>Dumplings:</strong> Los puntos aumentan exponencialmente a medida que coleccionas más Dumplings.</li>
    </ul>
</div>
<div class="landing-container-in">
    <h2>Fin del juego</h2>
    <p>
      El juego termina después de tres rondas. El jugador con la mayor cantidad de puntos al final de las tres rondas es el ganador.
    </p>
</div>
</div>
  </div>
  