<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resumen de ronda</title>

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="src/assets/icon-192x192.png">

</head>
<div class="table-container">
<div class="table">
<div class="container summary-container">
    <h2>{{ 'GAME_SUMMARY' | translate }}</h2>
    <table class="score-table">
      <thead>
        <tr>
          <th>{{ 'PLAYER' | translate }}</th>
          <th>{{ 'POINTS_1' | translate }}</th>
          <th>{{ 'POINTS_2' | translate }}</th>
          <th>{{ 'POINTS_3' | translate }}</th>
          <th>{{ 'TOTAL_POINTS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{ player.playerName }}</td>
          <td>{{ player.pointsRound[0]}}</td>
          <td>{{ player.pointsRound[1]}}</td>
          <td>{{ player.pointsRound[2]}}</td>
          <td>{{ player.totalPoints }}</td>
        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <button (click)="goBack()">{{ 'BACK_BUTTON' | translate }}</button>
    </div>
  </div>
</div>
</div>
<footer class="footer">
  <div class="footer-content">
    <p>&copy;{{ 'COPYRIGHT' | translate }}</p>
  </div>
</footer>
</html>
  
