/* Estilos generales */
.cuerpo {
  height: 90vh;
}

.landing-page {
  height: 100%;
  background-color: #f8ebd0;
  background-image: url(/assets/makisu.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landing-page h1 {
  color: floralwhite;
}

.landing-page button {
  font-family: "Luckiest Guy", cursive;
  margin: 10px 10px 10px 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #D2D2A4;
  color: #000;
  border: none;
  border-radius: 10px;
}

.landing-page button:hover {
  background-color: #FCF3CF;
}

.landing-page .header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #373c27;
  color: #fff;
  text-align: center;
  z-index: 10000;
}

.landing-page .header-content {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.landing-page .header-logo {
  width: 50px;
}

.landing-page .landing-container {
  height: 350px;
  width: 450px;
  margin: 0 auto;
  background-color: #373c27;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Luckiest Guy", cursive;
  border-radius: 10px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
}

.landing-page .game-logo {
  width: 150px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.download-container {
  display: flex;
  align-items: center;
}

.download-button {
  width: 150px;
  margin: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #373c27;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}

/* Media queries para responsive design */
@media (max-width: 768px) {
  .landing-page .landing-container {
    width: auto;
    height: auto;
    margin: 10vh auto;
    padding: 20px;
  }

  .landing-page {
    width: auto;
    height: 80vh;
    margin: 5vh auto;
  }

  .landing-page h1 {
    font-size: 1.5em;
  }

  .landing-page .game-logo {
    width: 100px;
  }

  .landing-page button {
    width: 80%;
    font-size: 14px;
    padding: 10px;
  }

  .landing-page .button-container {
    width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .landing-page .landing-container,
  .landing-page {
    width: auto;
    margin: 5vh auto;
  }

  .landing-page h1 {
    font-size: 1.2em;
  }

  .landing-page .game-logo {
    width: 80px;
  }

  .landing-page button {
    width: 90%;
    font-size: 12px;
    padding: 8px;
  }

  .landing-page .button-container {
    width: 100%;
    margin-top: 10px;
  }
}
