<div class="cuerpo">
  <div class="landing-page">
    <div class="landing-container">
      <img src="assets/logo.png" class="game-logo">
      <h1>{{ 'WELCOME_MESSAGE' | translate }}</h1>
      <div class="button-container">
        <button class="button" routerLink="/player-config" routerLinkActive="active">{{ 'START_GAME' | translate }}</button> 
        <button routerLink="/instrucciones" routerLinkActive="active">{{ 'HOW_TO_PLAY' | translate }}</button>
      </div>
    </div>
    <div class="makisu">
    <!-- <div class="download-container">
      <a href="https://play.google.com/store/apps/details?id=tu.app.id" target="_blank">
        <img src="assets/play-store-badge.png" alt="Descargar en Google Play" class="download-button">
      </a>
      <a href="https://apps.apple.com/app/idtu.app.id" target="_blank">
        <img src="assets/app-store-badge.png" alt="Descargar en App Store" class="download-button">
      </a>
    </div> -->
  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>&copy;{{ 'COPYRIGHT' | translate }}</p>
    </div>
  </footer>
</div>
</div>
