<div class="landing-page">
  <div class="makisu"></div>
  <div class="landing-container">
    <img src="assets/Logo.png" class="game-logo">
    <h1>¡Bienvenido a SushiGoCalc!</h1>
    <div class="button-container">
      <button routerLink="/player-config" routerLinkActive="active">Comenzar Partida</button> 
      <button routerLink="/instrucciones" routerLinkActive="active">Como Jugar</button>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 SushiGoCalc. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>
