/* styles.css (archivo global de estilos) */
html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: #f8ebd0;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

router-outlet {
  flex: 1;
}


