html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: #f8ebd0;
  
}

/* Contenedor principal para centrar contenido */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Asegura que ocupe toda la altura disponible */
}

/* Estilos para el router-outlet (contenido dinámico de Angular) */
router-outlet {
  width: 100%;
  max-width: 1200px; /* Ancho máximo del contenido */
  flex: 1;
  padding: 20px;
}

/* Media queries para responsive design */
@media (max-width: 1200px) {
  .content {
    padding: 0 20px; /* Espaciado lateral reducido en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0 10px; /* Espaciado lateral aún más reducido en dispositivos móviles */
  }

  router-outlet {
    padding: 10px; /* Espaciado interior reducido en contenido dinámico */
  }
}
