<div class="landing-container">

  <c-alert  color="danger" class="d-flex align-items-center" *ngIf="errorMessage" class="alert-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 20 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
    </svg>
    <div>{{ errorMessage }}</div>
  </c-alert>

    <div class="button-container">
      <p class="header">{{ 'HEADER' | translate }}</p>
      <div class="player-list">
        <div class="player-item" *ngFor="let player of players; let i = index">
          <input type="text" [ngModel]="player.playerName" (ngModelChange)="updatePlayer($event, i)" class="player-input">
          <button class="delete-button" *ngIf="players.length >= 2" (click)="deletePlayer(i)"> <fa-icon [icon]="faTrashAlt"></fa-icon> </button>
        </div>
      </div>
      <div class="button">
        <button *ngIf="showAddButton" class="play-button" (click)="addPlayer()">
          {{ 'ADD_PLAYER' | translate }}
        </button>
        <button class="play-button" (click)="play()"> 
          {{ 'START_GAME' | translate }}
        </button>
      </div>
    </div>
  </div>
 
  
  